:root {
    /* atalho achar as variaveis do documento seleciona e aperta ctrl+shift+h */
    
    /* Cores */
    --color-1: #fff9ea;
    --color-2: #ffe8b4;
    --color-3: #ffe100;
    --color-4: #1d1d1d;
    --color-5: #fff;
    --color-6: #e9a209;
    --color-7: #ffcb45;
    --color-8: #f8d477;
    --color-9: #434343;
}